{% load static %}
<div id="footer" class="mt-20" style="background-image: url({% static 'images/bottom.svg' %});">
    <div class="">
        <ul id="social-media" class="flex justify-center gap-10 footer">
            <li class="cursor-pointer">
                <a href="https://linkedin.com/in/hisyntax" target="_blank">
                    <i class="fab fa-linkedin text-black"></i>
                </a>
            </li>
            <li class="cursor-pointer">
                <a href="https://github.com/hisyntax" target="_blank">
                    <i class="fab fa-github text-black h-6 w-6"></i>
                </a>
            </li>
            <li class="cursor-pointer">
                <a href="https://twitter.com.com/hisyntax" target="_blank">
                    <i class="fab fa-twitter-square text-black h-6 w-6"></i>
                </a>
                
            </li>
        </ul>
    </div>
    <div>
        <p class="text-center text-sm md:text-lg">Powered by <span class="font-bold">Hisyntax</span></p>
    </div>
</div>